@layer tailwind-base, primereact, tailwind-utilities;
@import 'primereact/resources/themes/mdc-light-indigo/theme.css';

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer components {
  .card {
    @apply border-border rounded-md p-4 border-[1px];
  }
}

:root {
  --primary-color: #673AB7;
  --border-color: rgba(0, 0, 0, 0.38);
  --background-color: #F5F5F5;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #a3a3a3;
}

.menu-transition-enter {
  max-height: 0;
  opacity: 0;
}

.menu-transition-enter-active {
  max-height: 300px;
  opacity: 1;
  transition: max-height 300ms ease, opacity 300ms ease, transform 300ms ease;
}

.menu-transition-exit {
  max-height: 300px;
  opacity: 1;
  transform: translateY(0);
}

.menu-transition-exit-active {
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  transition: max-height 200ms ease, opacity 200ms ease, transform 200ms ease;
}

hr {
  border-color: var(--border-color);
}